<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UITextFiled 限制位数限制中英文.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E62B8141C10064800D97E1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E62B82D1C10064800D97E1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E62B8381C10064800D97E1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
